In [1]:
# 4.1
def my_greet():
    print('환영합니다.')

my_greet()
my_greet()

환영합니다.
환영합니다.

In [8]:
# 4.2
def square(n):
    return n * n

print('3의 제곱은 :', square(3))
print('4의 제곱은 :', square(4))

3의 제곱은 : 9
4의 제곱은 : 16

In [12]:
# 4.3
def max2(m, n):
    if m > n:
        return m
    else:
        return n

def min2(m, n):
    if m > n:
        return n
    else:
        return m

print('100과 200중 큰 수는 :', max2(100, 200))
print('100과 200중 작은 수는 :', min2(100, 200))

100과 200중 큰 수는 : 200
100과 200중 작은 수는 : 100

In [16]:
# 4.4
def mile2km(m):
    return m * 1.61

for i in range(1,6):
    print(i, '마일 =', mile2km(i), '킬로미터')

1 마일 = 1.61 킬로미터
2 마일 = 3.22 킬로미터
3 마일 = 4.83 킬로미터
4 마일 = 6.44 킬로미터
5 마일 = 8.05 킬로미터

In [17]:
# 4.5
def inch2cm(inch):
    return inch * 2.54

for i in range(1,6):
    print(i, '인치 =', inch2cm(i), '센티미터')

1 인치 = 2.54 센티미터
2 인치 = 5.08 센티미터
3 인치 = 7.62 센티미터
4 인치 = 10.16 센티미터
5 인치 = 12.7 센티미터

In [18]:
# 4.6
def cel2fah(cel):
    return (9/5) * cel + 32

for i in range(10,51,10):
    print('섭씨', i, '도 = 화씨', cel2fah(i), '도')

섭씨 10 도 = 화씨 50.0 도
섭씨 20 도 = 화씨 68.0 도
섭씨 30 도 = 화씨 86.0 도
섭씨 40 도 = 화씨 104.0 도
섭씨 50 도 = 화씨 122.0 도

In [22]:
# 4.7
def mean3(a, b, c):
    return (a + b + c) / 3

def max3(a, b, c):
    if a > b and a > c:
        return a
    elif b > c:
        return b
    else:
        return c

def min3(a, b, c):
    if a < b and a < c:
        return a
    elif b < c:
        return b
    else:
        return c

a, b, c = map(int, input('세 수를 입력하시오 :') .split())

print(a, b, c, '의 평균값은', mean3(a, b, c))
print(a, b, c, '의 최댓값은', max3(a, b, c))
print(a, b, c, '의 최솟값은', min3(a, b, c))

10 20 30 의 평균값은 20.0
10 20 30 의 최댓값은 30
10 20 30 의 최솟값은 10

In [24]:
list((1,2,3))

[1, 2, 3]

In [25]:
a = (1,2,3)

In [27]:
a[1] = 4

TypeError: 'tuple' object does not support item assignment

In [29]:
l = [0] * 100

In [30]:
l

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

In [33]:
l[40] = 100

In [34]:
l

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 100,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

In [35]:
len(l)

100

In [37]:
l[len(l)-1]

0

In [38]:
l.insert(40, 40)

In [39]:
l

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 40,
 100,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

In [ ]:
list1 = [1,2,3,4,5,6,7,8]