In [3]:
# 1
game_score = int(input('게임점수를 입력하시오 :'))
if game_score >= 1000:
    print('고수입니다.')
else :
    print('입문자입니다.')

고수입니다.

In [5]:
# 2
num1 = int(input('한 정수를 입력하시오 :'))
num2 = int(input('다른 정수를 입력하시오 :'))
if num1 == num2:
    print('두 값이 일치합니다.')
else :
    print('두 값이 일치하지 않습니다.')

두 값이 일치합니다.

In [8]:
# code 3-14
# 윤년 판단하기
year = int(input('년도를 입력하시오'))
if year % 4 == 0:
    print(year, '년은(는) 윤년입니다.')
else :
    print(year, '#은(는) 윤년이 아닙니다.')

2004 년은(는) 윤년입니다.

In [24]:
# 윤년 판단하기
year = int(input('년도를 입력하시오'))
if (year % 4 == 0) and (year % 100 != 0) or (year % 400 == 0) :
    print('윤년입니다.')
else :
    print('윤년이 아닙니다.')

윤년입니다.

In [26]:
# 구구단 2단
for i in range(1,10):
    print( '2 *', i, '=', 2 * i)

# print('2 *' i, '=')

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [29]:
# 구구단 2~9단
for j in range(2,10):
    for i in range(1,10):
        print( j, '*', i, '=', j * i)
    print()

# print('2 *' i, '=')

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [36]:
# 구구단 2~9단
for i in range(2,10,3):
    for j in range(1,10,1):
        for k in range(1, 4, 1):
         print( i, '*', k, '=', i * k)
    print()

# print('2 *' i, '=')

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24